# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.env

# Outputs / checkpoints
outputs/
*.pt
*.pth
*.ckpt

# Data
RepositoryData/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editor
.vscode/
.idea/
